{{ define "main" }}

	{{ partial "banner" site.Data.banner }}
	{{ partial "spotlight" site.Data.spotlight1 }}
	{{ partial "spotlight" site.Data.spotlight2 }}
	{{ partial "gallery" site.Data.gallery }}

	<section id="contact-form" class="wrapper style1 align-center">
		<div class="inner">
			<h2>Kontakt z mstudio</h2>
			Skontaktuj się, aby dowiedzieć się więcej: 
			<a href="mailto:kontakt@mstudio.blog" class="active">kontakt@mstudio.blog</a>
		</div>
	</section>

	{{ partial "footer" . }}

{{ end }}